<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>About Us</title>
  <meta content="Learn about our innovative blood group prediction methodology using deep learning." name="description">
  <meta content="blood group prediction, deep learning, methodology" name="keywords">

  <!-- Favicons -->
  <link href="../static/images/favicon.png" rel="icon">
  <link href="../static/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/css/main1.css" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header dark-background d-flex flex-column">
    <i class="header-toggle d-xl-none bi bi-list"></i>

    <div class="profile-img">
      <img src="../static/images/my-profile-img.jpg" alt="" class="img-fluid rounded-circle">
    </div>

    <a href="index.html" class="logo d-flex align-items-center justify-content-center">
      <h1 class="sitename">Bloodgroup Prediction</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="#home" class="active"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> Methodology</a></li>
        <li><a href="#portfolio"><i class="bi bi-images navicon"></i> Dataset</a></li>
        <li><a href="#enhancement"><i class="bi bi-images navicon"></i> Enhancement</a></li>
        <li><a href="#features"><i class="bi bi-images navicon"></i> Feature-Extraction</a></li>
        <li><a href="#cnn"><i class="bi bi-images navicon"></i> CNN Model</a></li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="main">

    <nav class="navbar">
      <div class="container">
        <a href="#" class="logo d-flex align-items-center me-auto">
          <img src="../static/images/logo.png" alt="" class="logo-image"> <h3 class="sitename"> Bloodgroup Prediction</h3>
        </a>
        <ul class="nav-links">
          <li><a href="home.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="chart.html">Chart</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
        </ul>
      </div>
    </nav>

    <!-- Hero Section - ->
    <section id="hero" class="hero section dark-background">
      <img src="../static/images/hero-bg.jpg" alt="" data-aos="fade-in" class="">
      <div class="container" data-aos="fade-up" data-aos-delay="150">
        <center><h2>Non-Invasive Bloodgroup Prediction using Deep Learning Model</h2></center>
        <p>It's <span class="typed" data-typed-items="Efficient, Accurate, Non-Invasive, Quick">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

        <!-- /Hero Section -->

        <section id="hero" class="hero section dark-background">
          <img src="../static/images/hero-bg.jpg" alt="" data-aos="fade-in" class="">
          <div class="container" data-aos="fade-up" data-aos-delay="150">
              <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
                  <a href="index.html"  style="background-color: #007bff; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 1.2rem; transition: background-color 0.3s ease; margin-bottom: 20px; display: inline-block;" class="predict-blood-group-box">Predict Blood Group</a>
                  <h2 class="text-center">Non-Invasive Bloodgroup Prediction using Deep Learning Model</h2>
              </div>
        <p>It's <span class="typed" data-typed-items="Efficient, Accurate, Non-Invasive, Quick">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
    </div>
</section>

  </section>



  <!-- About Section -->
  <section id="about" class="about section">

  <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <center><h2>Methodology</h2><center>
      <p>Blood group detection using fingerprints through deep learning is an innovative approach that leverages advancements in image processing and machine learning to predict an individual's blood group based on their fingerprint patterns. Traditional methods of blood group detection involve blood sample analysis, which can be invasive, time-consuming, and require specialized equipment. This novel methodology aims to provide a non-invasive, rapid, and accessible alternative by analyzing the unique features of fingerprints.</p>
    </div><!-- End Section Title -->




    <div class="container" data-aos="fade-up" data-aos-delay="100">
<div class="row gy-4 justify-content-center">
  <div class="col-lg-4">
    <img src="../static/images/my-profile-img.jpg" class="img-fluid rounded-circle shadow-lg" alt="Profile Image">
  </div>
  <div class="col-lg-8 content">
    <h2 class="mb-4 text-center">Steps Involved in Development</h2>
    <p class="fst-italic py-3 text-center">
      The following steps were involved in the development of this project.
    </p>
    <div class="row">
      <div class="col-lg-6">
        <div class="step-card p-3 mb-4 shadow-sm border rounded">
          <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Dataset:</strong> <span>Fingerprint</span></li>
            <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Data Preprocessing:</strong> <span>Normalization with OpenCV</span></li>
            <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Training Model:</strong> <span>CNN</span></li>
            <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Testing Model:</strong> <span>CNN</span></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="step-card p-3 mb-4 shadow-sm border rounded">
          <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Optimizer:</strong> <span>Adam Optimizer</span></li>
            <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>FrontEnd:</strong> <span>Flask with Python</span></li>
            <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Backend:</strong> <span>SQL Server</span></li>
<!--              <li class="d-flex align-items-center mb-3"><i class="bi bi-chevron-right me-2 text-primary"></i><strong>Accuracy:</strong> <span>98%</span></li>-->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

  <!-- Stats Section -->
<section id="stats" class="stats section py-5 bg-gradient-primary">
<div class="container" data-aos="fade-up" data-aos-delay="100">
  <div class="row gy-4 justify-content-center">

<!--      <!&ndash; Accuracy Stat &ndash;>-->
<!--      <div class="col-lg-3 col-md-6">-->
<!--        <div class="stats-item text-center p-4 bg-white shadow-lg rounded position-relative overflow-hidden">-->
<!--          <i class="bi bi-bar-chart-steps fs-3 text-primary mb-3"></i>-->
<!--          <span data-purecounter-start="0" data-purecounter-end="98" data-purecounter-duration="2" class="purecounter fs-2 fw-bold text-primary"></span>-->
<!--          <p class="mt-2 text-dark"><strong>Accuracy</strong></p>-->
<!--          <div class="stat-hover-effect"></div>-->
<!--        </div>-->
<!--      </div><!&ndash; End Stats Item &ndash;>-->

    <!-- Dataset Size Stat -->
    <div class="col-lg-3 col-md-6">
      <div class="stats-item text-center p-4 bg-white shadow-lg rounded position-relative overflow-hidden">
        <i class="bi bi-database-check fs-3 text-success mb-3"></i>
        <span data-purecounter-start="0" data-purecounter-end="6000" data-purecounter-duration="2" class="purecounter fs-2 fw-bold text-success"></span>
        <p class="mt-2 text-dark"><strong>Dataset Size</strong></p>
        <div class="stat-hover-effect"></div>
      </div>
    </div><!-- End Stats Item -->

    <!-- Epochs Stat -->
    <div class="col-lg-3 col-md-6">
      <div class="stats-item text-center p-4 bg-white shadow-lg rounded position-relative overflow-hidden">
        <i class="bi bi-sliders fs-3 text-warning mb-3"></i>
        <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="2" class="purecounter fs-2 fw-bold text-warning"></span>
        <p class="mt-2 text-dark"><strong>Epochs</strong></p>
        <div class="stat-hover-effect"></div>
      </div>
    </div><!-- End Stats Item -->

    <!-- Training Loss Stat -->
    <div class="col-lg-3 col-md-6">
      <div class="stats-item text-center p-4 bg-white shadow-lg rounded position-relative overflow-hidden">
        <i class="bi bi-box-arrow-in-down fs-3 text-danger mb-3"></i>
        <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="2" class="purecounter fs-2 fw-bold text-danger"></span>
        <p class="mt-2 text-dark"><strong>Training Loss</strong></p>
        <div class="stat-hover-effect"></div>
      </div>
    </div><!-- End Stats Item -->

  </div>
</div>
</section><!-- /Stats Section -->

<!-- Skills Section -->
<section id="skills" class="skills section light-background">

<!-- Section Title -->
<div class="container section-title" data-aos="fade-up">
  <h2 class="text-center">Technologies</h2>
  <p class="text-center">Technologies Used in the Project shown Below</p>
</div><!-- End Section Title -->

<div class="container" data-aos="fade-up" data-aos-delay="100">

  <div class="row skills-content skills-animation">

    <div class="col-lg-6">

      <!-- Skill: Python -->
      <div class="progress">
        <span class="skill"><i class="fab fa-python"></i> Python <i class="val">100%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <!-- Skill: HTML -->
      <div class="progress">
        <span class="skill"><i class="fab fa-html5"></i> CSS <i class="val">90%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <!-- Skill: JavaScript -->
      <div class="progress">
        <span class="skill"><i class="fab fa-js"></i> JavaScript <i class="val">75%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

    </div><!-- End Column -->

    <div class="col-lg-6">

      <!-- Skill: C -->
      <div class="progress">
        <span class="skill"><i class="fas fa-code"></i> HTML <i class="val">80%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <!-- Skill: Flask -->
      <div class="progress">
        <span class="skill"><i class="fab fa-python"></i> Flask <i class="val">90%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <!-- Skill: Photoshop -->
      <div class="progress">
        <span class="skill"><i class="fab fa-photoshop"></i> Photoshop <i class="val">55%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

    </div><!-- End Column -->

  </div><!-- End Row -->

</div><!-- End Container -->

</section><!-- /Skills Section -->

<section id="portfolio" class="portfolio section light-background">
  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
      <center><h2>Dataset</h2></center>
      <p>Sample images for each blood group type.</p>
  </div><!-- End Section Title -->

  <div class="container">
      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-a-positive">A +VE</li>
              <li data-filter=".filter-b-positive">B +VE</li>
              <li data-filter=".filter-ab-positive">AB +VE</li>
              <li data-filter=".filter-a-negative">A -VE</li>
              <li data-filter=".filter-b-negative">B -VE</li>
              <li data-filter=".filter-ab-negative">AB -VE</li>
              <li data-filter=".filter-o-positive">O +VE</li>
              <li data-filter=".filter-o-negative">O -VE</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

              <!-- Portfolio Items for A +VE -->
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-positive">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/a+1.bmp" class="img-fluid" alt="A +VE Blood Group Sample 1">
                      <div class="portfolio-info">
                          <h4>A +VE</h4>
                          <a href="portfolio_details.html?bloodGroup=A%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-positive">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/a+2.bmp" class="img-fluid" alt="A +VE Blood Group Sample 2">
                      <div class="portfolio-info">
                          <h4>A +VE</h4>
                          <a href="portfolio_details.html?bloodGroup=A%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-positive">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/a+3.bmp" class="img-fluid" alt="A +VE Blood Group Sample 3">
                      <div class="portfolio-info">
                          <h4>A +VE</h4>
                          <a href="portfolio_details.html?bloodGroup=A%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <!-- Portfolio Items for B +VE -->
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-positive">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/b+1.bmp" class="img-fluid" alt="B +VE Blood Group Sample 1">
                      <div class="portfolio-info">
                          <h4>B +VE</h4>
                          <a href="portfolio_details.html?bloodGroup=B%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-positive">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/b+2.bmp" class="img-fluid" alt="B +VE Blood Group Sample 2">
                      <div class="portfolio-info">
                          <h4>B +VE</h4>
                          <a href="portfolio_details.html?bloodGroup=B%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-positive">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/b+3.bmp" class="img-fluid" alt="B +VE Blood Group Sample 3">
                      <div class="portfolio-info">
                          <h4>B +VE</h4>
                          <a href="portfolio_details.html?bloodGroup=B%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <!-- Portfolio Items for AB +VE -->
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-positive">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/ab+1.bmp" class="img-fluid" alt="AB +VE Blood Group Sample 1">
                      <div class="portfolio-info">
                          <h4>AB +VE</h4>
                          <a href="portfolio_details.html?bloodGroup=AB%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-positive">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/ab+2.bmp" class="img-fluid" alt="AB +VE Blood Group Sample 2">
                      <div class="portfolio-info">
                          <h4>AB +VE</h4>
                          <a href="portfolio_details.html?bloodGroup=AB%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-positive">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/ab+3.bmp" class="img-fluid" alt="AB +VE Blood Group Sample 3">
                      <div class="portfolio-info">
                          <h4>AB +VE</h4>
                          <a href="portfolio_details.html?bloodGroup=AB%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <!-- Portfolio Items for A -VE -->
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-negative">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/a-1.bmp" class="img-fluid" alt="A -VE Blood Group Sample 1">
                      <div class="portfolio-info">
                          <h4>A -VE</h4>
                          <a href="portfolio_details.html?bloodGroup=A%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-negative">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/a-2.bmp" class="img-fluid" alt="A -VE Blood Group Sample 2">
                      <div class="portfolio-info">
                          <h4>A -VE</h4>
                          <a href="portfolio_details.html?bloodGroup=A%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-a-negative">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/a-3.bmp" class="img-fluid" alt="A -VE Blood Group Sample 3">
                      <div class="portfolio-info">
                          <h4>A -VE</h4>
                          <a href="portfolio_details.html?bloodGroup=A%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <!-- Portfolio Items for B -VE -->
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-negative">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/b-1.bmp" class="img-fluid" alt="B -VE Blood Group Sample 1">
                      <div class="portfolio-info">
                          <h4>B -VE</h4>
                          <a href="portfolio_details.html?bloodGroup=B%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-negative">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/b-2.bmp" class="img-fluid" alt="B -VE Blood Group Sample 2">
                      <div class="portfolio-info">
                          <h4>B -VE</h4>
                          <a href="portfolio_details.html?bloodGroup=B%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-b-negative">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/b-3.bmp" class="img-fluid" alt="B -VE Blood Group Sample 3">
                      <div class="portfolio-info">
                          <h4>B -VE</h4>
                          <a href="portfolio_details.html?bloodGroup=B%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <!-- Portfolio Items for AB -VE -->
              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-negative">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/ab-1.bmp" class="img-fluid" alt="AB -VE Blood Group Sample 1">
                      <div class="portfolio-info">
                          <h4>AB -VE</h4>
                          <a href="portfolio_details.html?bloodGroup=AB%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-negative">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/ab-2.bmp" class="img-fluid" alt="AB -VE Blood Group Sample 2">
                      <div class="portfolio-info">
                          <h4>AB -VE</h4>
                          <a href="portfolio_details.html?bloodGroup=AB%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-ab-negative">
                  <div class="portfolio-content h-100">
                      <img src="../static/images/portfolio/ab-3.bmp" class="img-fluid" alt="AB -VE Blood Group Sample 3">
                      <div class="portfolio-info">
                          <h4>AB -VE</h4>
                          <a href="portfolio_details.html?bloodGroup=AB%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
                      </div>
                  </div>
              </div>

              <!-- Portfolio Items for O +VE -->
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-positive">
  <div class="portfolio-content h-100">
      <img src="../static/images/portfolio/o+1.bmp" class="img-fluid" alt="O +VE Blood Group Sample 1">
      <div class="portfolio-info">
          <h4>O +VE</h4>
          <a href="portfolio_details.html?bloodGroup=O%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
      </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-positive">
  <div class="portfolio-content h-100">
      <img src="../static/images/portfolio/o+2.bmp" class="img-fluid" alt="O +VE Blood Group Sample 2">
      <div class="portfolio-info">
          <h4>O +VE</h4>
          <a href="portfolio_details.html?bloodGroup=O%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
      </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-positive">
  <div class="portfolio-content h-100">
      <img src="../static/images/portfolio/o+3.bmp" class="img-fluid" alt="O +VE Blood Group Sample 3">
      <div class="portfolio-info">
          <h4>O +VE</h4>
          <a href="portfolio_details.html?bloodGroup=O%2BVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
      </div>
  </div>
</div>

<!-- Portfolio Items for O -VE -->
<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-negative">
  <div class="portfolio-content h-100">
      <img src="../static/images/portfolio/o-1.bmp" class="img-fluid" alt="O -VE Blood Group Sample 1">
      <div class="portfolio-info">
          <h4>O -VE</h4>
          <a href="portfolio_details.html?bloodGroup=O%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
      </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-negative">
  <div class="portfolio-content h-100">
      <img src="../static/images/portfolio/o-2.bmp" class="img-fluid" alt="O -VE Blood Group Sample 2">
      <div class="portfolio-info">
          <h4>O -VE</h4>
          <a href="portfolio_details.html?bloodGroup=O%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
      </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-o-negative">
  <div class="portfolio-content h-100">
      <img src="../static/images/portfolio/o-3.bmp" class="img-fluid" alt="O -VE Blood Group Sample 3">
      <div class="portfolio-info">
          <h4>O -VE</h4>
          <a href="portfolio_details.html?bloodGroup=O%2DVE" title="More Details" class="details-link"><i class="fa fa-search custom-icon-size"></i></a>
      </div>
  </div>
</div>


          </div><!-- End Portfolio Items -->

      </div>
  </div>
</section><!-- End Portfolio Section -->


<!-- End pre-process Section -->

<!-- Enhancement steps-->

<section id="enhancement" class="work-process py-5">
<div class="container">
  <div class="section-title" data-aos="fade-up">
    <center><h3><b>Enhancement Steps</b></h3></center>
    <p>Segmentation, normalisation, local orientation estimation, ridge frequency estimation, region mask estimation and filtering are the procedure done during enhancement of latent fingerprint. Segmentation leads to the calculation of variance for each pixel. Normalisation is the process, that changes the range of pixel intensity value. After that local orientation of each pixel in a fingerprint image is computed. Ridge frequency is obtained from the extraction of the ridge map. Classification of pixels into retrievable or unretrievable is called masking. Filtering helps for removing noises.</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8" data-aos="fade-right">
      <div class="image-container">
        <img src="../static/images/enhancement-steps.png" class="img-fluid hover-effect" alt="Enhancement Steps">
      </div>
    </div>
  </div>
</div>
</section>
<!-- End enhancement steps Section -->




<!-- Pre-processing and feature extraction process-->

<section id="features" class="work-process py-5">
<div class="container">
  <div class="section-title" data-aos="fade-up">
    <center><h3><b>Pre-processing and Feature Extraction process</b></h3></center>
    <p>Feature extraction techniques are used to obtain a feature vector which is a reduced representation of the input data which contains information about the most important features of data. This feature vector is sent to a Convolutional Neural Network for classification. </p>
  <ul><li> Input image</li>
   <li> Smoothing </li>
   <li> Thinning </li>
   <li> minutiae identification </li>
  <li>removal of false minutiae </li>
  <li>  Region of Interest </li> </ul>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8" data-aos="fade-right">
      <div class="image-container">
        <img src="../static/images/preProcess&featureExtraction.png" class="img-fluid hover-effect" alt="Pre-processing and feature extraction process">
      </div>
    </div>
  </div>
</div>
</section>

<!-- CNN model-->

<section id="cnn" class="work-process py-5">
<div class="container">
  <div class="section-title" data-aos="fade-up">
    <center><h3><b>Convolutional Neural Network Model</b></h3></center>
    <p>Convolutional Neural Networks (CNNs) have emerged as a powerful tool in image processing and pattern recognition tasks. In the context of fingerprint-based blood group detection, CNNs can be trained on large datasets of fingerprint images labeled with corresponding blood groups to learn the intricate patterns and correlations. However, the development and deployment of such systems are hindered by the need for extensive computational resources, sophisticated network architectures, and high-quality, labeled datasets.</p>
  <ul>
    <li>Conv2D: These are convolutional layers that perform feature extraction by applying filters to the input images. This is the core component of CNNs. </li>
     <li> MaxPooling2D: These pooling layers reduce the spatial dimensions, retaining important features while reducing computational complexity. </li>
     <li> Flatten: Converts the 2D feature maps from convolutional layers into a 1D vector for the fully connected layers.</li>
     <li> Dense: Fully connected layers for classification based on extracted features.</li>
      <li>These layers work together to form a Convolutional Neural Network.</li>
  </ul>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8" data-aos="fade-right">
      <div class="image-container">
        <img src="../static/images/cnn.png" class="img-fluid hover-effect" alt="Convolutional Neural Network Model">
      </div>
    </div>
  </div>
</div>
</section>
<!-- End CNN model Section -->




    <!-- Contact Section -->
    <section id="contact" class="contact section" style="padding: 60px 0; background-color: #f9f9f9;">
      <div class="container section-title" data-aos="fade-up">
        <center>
          <h2 style="font-size: 36px; font-weight: 600; color: #333;">Contact Us</h2>
        </center>
        <p style="text-align: center; font-size: 18px; color: #666;">We'd love to hear from you! Contact us for further details.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4">
          <div class="col-lg-6">
            <div class="info-wrap" style="background-color: #fff; padding: 30px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200" style="margin-bottom: 20px;">
                <i class="bi bi-geo-alt flex-shrink-0" style="font-size: 24px; color: #ff8c00; margin-right: 20px;"></i>
                <div>
                  <h3 style="font-size: 20px; font-weight: 600; color: #333;">Our Address</h3>
                  <p style="color: #666; font-size: 16px;">Krishna University College of Engineering and Technology, Machilipatnam, Rudravaram-521001, Krishna district, AP, India</p>
                </div>
              </div><!-- End Address Info -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300" style="margin-bottom: 20px;">
                <i class="bi bi-telephone flex-shrink-0" style="font-size: 24px; color: #ff8c00; margin-right: 20px;"></i>
                <div>
                  <h3 style="font-size: 20px; font-weight: 600; color: #333;">Call Us</h3>
                  <p style="color: #666; font-size: 16px;">+91 8008270486</p>
                </div>
              </div><!-- End Call Us Info -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0" style="font-size: 24px; color: #ff8c00; margin-right: 20px;"></i>
                <div>
                  <h3 style="font-size: 20px; font-weight: 600; color: #333;">Email Us</h3>
                  <p style="color: #666; font-size: 16px;">kondabattulasairam@gmail.com</p>
                </div>
              </div><!-- End Email Info -->
            </div>
          </div><!-- End Contact Info Section -->

          <div class="col-lg-6">
            <div class="map-wrap" style="background-color: #fff; padding: 30px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
              <h4 style="font-size: 22px; font-weight: 600; color: #333; margin-bottom: 20px;">Our Location</h4>
              <iframe 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3828.208156614426!2d81.12181167488464!3d16.14760534041968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a7d7e8f6e9c4b%3A0x9b8e7f5e6f8e9c4b!2sKrishna%20University!5e0!3m2!1sen!2sin!4v1731425199600!5m2!1sen!2sin"
              width="100%"
              height="400" 
              style="border: 0; border-radius: 8px;" 
              allowfullscreen="" 
              loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            </div>
          </div><!-- End Map Section -->
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">
    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Students From KRUCET</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="credits">
        Designed by Students From KRUCET
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/typed.js/typed.umd.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/js/main1.js"></script>
</body>

</html>
